body {
    background-color: aquamarine;
    font-size: 20px;
    text-align: center;
    margin-left: max(16px, 5vw);
    margin-right: max(16px, 5vw);
}

main {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 5px;
    gap: 0px;
}

.phrase_russian_hint_div, .phrase_russian_div, .phrase_hidden_div, .phrase_transcript_div, .phrase_armenian_div {
    grid-column: span 1;
    min-height: max(15vh, 40px);
    font-size: min(15vh, 40px);
    align-content: center;
    text-align: center;
    border: 1px solid black;
}

.phrase_russian_div {
    background-color: darkgreen;
    color: white;
}

.phrase_russian_hint_div {
    background-color: darkgreen;
    color: white;
}

.phrase_hidden_div {
    background-color: black;
    color: white;
}

.phrase_transcript_div {
    background-color: darkgreen;
    color: white;
}

.phrase_armenian_div {
    background-color: darkgreen;
    color: white;
}

.phrase_choice_button {
    background-color: darkgreen;
    border: 0px solid black;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    min-height: max(10vh, 20px);
}

header {
    border-bottom: 1px solid black;
}

footer {
    margin-top: max(16px, 5vh);
    border-top: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
